@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  overflow-x: hidden;
}
html {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
  --color-bt-primary: #fff;
  --color-bt-text-primary: #333;
  --color-btn-hover: #333;
  --color-nav-bg: #3b4558;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
  --color-bt-primary: #333;
  --color-btn-hover: rgb(221, 215, 215);
  --color-bt-text-primary: #fff;
  --color-nav-bg: #c5c4c4;
}

.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(17px);
  background-color: #3d3d3d;
}
#toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
