.found{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20%;
}
.home{
    position: absolute;
    width: 100%;
    text-align: center;
    border: none;
    margin: 0;
    top: 28%;
}