@import 'global.scss';
@import '_fonts.scss';
*{
    margin: 0;
    padding: 0;
}
// Logo
.logo{
    position: absolute;
    margin: -13px;
}
//  Title
.hello {
  color: $light-grey;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  margin: 38px;
  bottom: 58%;
}

.list {
  color: $light-grey;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  margin: 35px;
  bottom: 53%;
}