@import 'global.scss';
@import '_fonts.scss';
// For lets get in touch
.touch{
    position: absolute;
    margin: 250px;
    text-align: left;
    left: 30%;
    font-size: 40px;
}
// For social icons
.icons{
    position: absolute;
    margin: 313px;
    display: flex;
    left: 24.7%;
    float: left;
    &_.icon{
        margin: 10px;
    }
}
.connect{
    position: absolute;
    margin: 200px;
    left: 10%;
    display: flex;
    height: 300px;
    width: 300px;
}


// For Small and media sizes phone
@media only screen and (max-width: 375px){
    .connect{
        display: none;
    }
    .touch{
        position: absolute;
        width: 70%;
        display: flex;
        top: -10%;
        left: -55%;
    }
    .icons{
        position: absolute;
        width: 70%;
        display: flex;
        top: -7%;
        left: -74%; 
    }
}
// For bigger phone
@media only screen and (width: 425px){
    .connect{
        display: none;
    }
    .touch{
        position: absolute;
        width: 70%;
        display: flex;
        top: -10%;
        left: -55%;
    }
    .icons{
        position: absolute;
        width: 70%;
        display: flex;
        top: -11.5%;
        left: -72.5%; 
    }
}