@import 'global.scss';
@import '_fonts.scss';
// Logo
.logo{
  position: absolute;
  margin: -13px;
}
//  Title
.hello {
  color: $light-grey; 
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  margin: 38px;
  bottom: 58%;
  cursor: default;
}
.list {
  color: $light-grey;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  margin: 35px;
  bottom: 51%;
  cursor: default;
}
// Image of me
.me {
  top: 13%;
  right: 0;
  margin-right: 18%;
  height: 660px;
  width: 450px;
  right: -15%;
  position: absolute;
}
// Social
.social{
  position: absolute;
  bottom: 48%;
  left: 1.6%;
}
img{
  margin-left: 10px;
}

@media only screen and (max-width: 769px){
  // for image of me 
  .me{
    display: none;
  }
  .list{
    font-size: 40px;
    bottom: 40%;
  }
  .social{
    bottom: 36%;
    left: 6%;
  }
}