@import 'global.scss';
@import '_fonts.scss';
// Logo
.logo{
  position: absolute;
  margin: -13px;
}
//  Title
.hello {
  color: $light-grey; 
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  margin: 38px;
  bottom: 58%;
  cursor: default;
}
.list {
  color: $light-grey;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  margin: 35px;
  bottom: 51%;
  cursor: default;
}
// Image of me
.me {
  top: 13%;
  right: 0;
  margin-right: 18%;
  height: 660px;
  width: 450px;
  right: -15%;
  position: absolute;
}
// Social
.image {
  margin: 50px;
  position: absolute;
  left: -1.4%;
  bottom: 43%;
}
.image1 {
  margin: 50px;
  position: absolute;
  left: 3.5%;
  bottom: 43%;
}
.image2 {
  margin: 50px;
  position: absolute;
  left: 9.5%;
  bottom: 43.1%;
}
.image3 {
  margin: 50px;
  position: absolute;
  left: 15.5%;
  bottom: 43.1%;
}