@import 'global.scss';
@import '_fonts.scss';
@import 'color';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background;
    font-family: $roboto;
    color: #707070;
}
#overflow{
    overflow: hidden;
}
.title{
    text-align: center;
    font-size: 60px;
    margin: 30px;
    cursor: default;
}
.center{
    text-align: center;
    margin: -20px;
    &_.img-me{
        width: 222.5px;
        height: 349px;
    }
}
.links{
    text-align: center;
    margin: 50px;
    padding: 5px;
    overflow: hidden;
}
button{
    font-size: 35px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: #4FB0DB 4px solid;
    width: 230px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 2px;
    margin: 10px;
}