@import 'global.scss';
@import '_fonts.scss';
@import 'color';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background;
}
// For image of me
.center{
    text-align: center;
}
.me{
    position: absolute;
    border-radius: 10%;
    margin-top: 30px;
    width: 210px;
    height: 300px;
}