@import 'global.scss';
@import '_fonts.scss';
@import 'color';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background;
}
// For image of me
.center{
    text-align: center;
    &_.me-img{
        width: 200px;
        height: 300px;
    }
}
