* {
  margin: 0;
  padding: 0;
}
.footer{
  font-family: "Roboto", sans-serif;
  font: 15px;
  position: fixed; 
  bottom: 0; 
  height: 60px;
  background-color: #3B3B3B;
  width: 100%;
  color: #ffffff;
  &_.copy{
    margin: 5px;
    position: absolute;
    left: 0;
    cursor: default;
    background-color: #3B3B3B;
  }
  &_.links-main{
    float: right;
    margin: 5px;
    background-color: #3B3B3B;
  }
  &_.link{
    float: right;
    margin: 5px;
    background-color: #3B3B3B;
  }
}