#menu-show {
  transition: 0.2s ease all;
  display: block;
}

.border {
  background-color: var(--color-bg-primary);
}
.links {
  float: right;
  list-style: none;
  margin-top: 40px;
  margin-left: 20px;
}

/* @media (max-width: 768px) {
  display: none;
} */
.head {
  display: flex;
  height: 100%;
  justify-content: flex-start;
}
.head > img {
  width: 20%;
  transform: scale(1.8);
}

#headColor {
  background-color: var(--color-nav-bg) !important;
}
#linkColor {
  color: var(--color-text-primary) !important;
}
