.border {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.img {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 5rem;
}
.img > img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.h1 {
  text-align: center;
  font-weight: 700;
}
.p {
  text-align: center;
  font-weight: 600;
}
.work {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work > a {
  cursor: pointer;
  border: none;
  background: #333;
  transition: 0.2s ease all;
  padding: 10px 10px;
}
.work:focus {
  border: 2px solid #fff;
}
.work > a:hover {
  background: #5e5e5e;
}
