.link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.link > a {
    background: var(--color-bt-primary);
    border: .5px solid var(--color-border);
    font-weight: 900;
    color: var(--color-btn-text);
    padding: 10px 10px;
    transition: 0.1s ease-in all;
    text-align: center;
    width: 8rem;
    flex-wrap: wrap;
}
.link > a:hover{
    background: var(--color-btn-hover); 
}
.break {
    display: none;
    flex-basis: 100%;
    height: 0;
}
@media only screen and (max-width: 1025px) {
  .break{
      display: block;
    }
  }