.link {
  color: var(--color-text-primary);
  font-weight: 900;
}
.link:hover {
  color: var(--color-text-primary) !important;
  text-decoration: none;
}

.break {
  display: none;
  flex-basis: 100%;
  height: 0;
}
@media only screen and (max-width: 1025px) {
.break{
    display: block;
  }
}